@media  screen and (max-width:800px) {
    .navbar-main{
        flex-direction: column;
        justify-content: center;}

        .navbar-main>div{
            margin: 20px;  

    }

    .popular-card{
        grid-template-columns: repeat(2,1fr);
    }

    
}
@media  screen and (max-width:500px) {
    .nev-bar{
        display: block;
    }
    .nev-menu{
        display: none;
    }
    .navbar-main{
        flex-direction: row;
        }

        .banner{
            flex-direction: column;
        }
        .banner-setting{
            width: 100%;
        }

        .popular-card{
            grid-template-columns: repeat(1,1fr);
        }
        .feature-main{
            grid-template-columns: repeat(1,1fr);
        }
       
            .footer {
              position: relative;
              bottom: 0;
              left: 0;
              transform: none;
              width: 100%;
              border-radius: 0;
            }
          
            .footer .footer-row {
              padding: 20px;
              gap: 1rem;
            }
          
            .footer-col form {
              display: block;
            }
          
            .footer-col form :where(input, button) {
              width: 100%;
            }
          
            .footer-col form button {
              margin: 10px 0 0 0;
            }
          }


    
    
