*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.container{
    font-family: 'Poppins', sans-serif;
    background-color: #f4f4f4;
    max-width:1200px;
    width: 90%;
    margin: 0 auto;
    border-radius: 10px;

}


/* nav style starts here */
.nav-background{
    background-color: rgb(70, 77, 82);
}
.navbar-main{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    margin: 0 auto;
    color: white;
   
   
   
}

.nav-btn{
    background-color: rgb(126, 124, 124);
    color: white;
    border-radius: 5px;
    padding: 10px;
    border: none;

}
.nev-bar{
    display: none;
}
/* nav style ends here */

/* main style starts here */
.banner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    padding: 10px;
    border-radius: 20px;
    
}
.banner-setting{
    width:47%;
    position: relative;
}

.banner-setting img{
    width: 100%;
    border-radius: 10px;
}
.banner-btn{
    background:none;
    border: 2px solid gray;
    padding: 10px 20px;
    background-color: none;
    border-radius: 10px;
    margin: 10px ;
}
.discount{
    background-color: rgba(0, 0, 0, 0.194);
    color: white;
    width: max-content;
    border: 1 px solid black;
    padding: 20px 60px;
    border-radius: 10px;
    position: absolute;
    top: 40%;
    left: 40%;
    font-size: 20px;
}



/* main style ends here */

/* popular collection style starts here */

.popular-card{
    margin-top: 50px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 7px;

}

.card{
    box-shadow: 8px 4px 8px  rgba(0,0,0,0.2);
    transition: 0.3s;
    min-height: 200px;
    border-radius: 10px;
    padding: 10px;
    margin: 10px;

}

.card img{
    width: 100%;
    border-radius: 10px;
}